<mat-toolbar color="primary">
    <span>CainMac</span>
    <span class="example-spacer"></span>
    <ul class="items">
      <li class="item">
        <a class="cta" href="home">Home</a>
      </li>
      <li>
      
        <li class="item">
          <a class="cta" href="bus">Bus</a>
      </li>
      
      <li>
        <button (click)="openDialog('0ms', '0ms')" mat-icon-button aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        
      </li>
    </ul>
   
  </mat-toolbar>